<!DOCTYPE html>
<html lang="'en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="login-container">
        <h1 class="welcome-message">Welcome Back!</h1>
        <div class="form-container">
            <h2>Login</h2>

            <form action="/verifyUser" method="post">

                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" placeholder="Enter your username here" required autocomplete="off">
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" placeholder="password" required>
                </div>

                <input type="hidden" name="isNewUser" value="false">

                <div>
                    <% if (error) { %>
                        <p class="error-message"><%- error %></p>
                    <% } %>
                </div>

                <button type="submit" class="submit-btn">Login</button>
            </form>
            
            <p>Don't have an account? <a href="/signup">Signup</a></p>
        </div>
    </div>
</body>
</html>