<!-- super-common-footer.ejs -->
<footer class="bg-dark text-white text-center text-lg-start mt-4">
  <div class="container p-4">
      <div class="row">
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
              <h5 class="text-uppercase">A Little About Me</h5>
              <p>
                  Hi, I'm Travis Kuenzi, a third-year Computer Science student 
                  at Oregon State University. I built this website during CS361- Intro to
                  Software Engineering. The biggest focuses of this class were the Agile workflow
                  and microservice architecture. Although a small site such as this may have been simpler to 
                  implement as a monolith, this project helped give me a lot of insight into both microservice
                  architecture and the process of Software Engineering as a whole. I learned a lot about myself
                  as a developer and honed my ability to develop in Mongo, Express, BootStrap, and Node.js. I 
                  also got to enjoy looking at pictures of a lot of food! I love cooking, and I hope to 
                  continue developing this website so I can potentially use it myself someday. 
              </p>
              <p>
                Some future upgrades include allowing users to upload their own recipes, making it easier
                to edit the meal plan, organizing the shopping list by aisle/category, allowing users 
                to set a default serving size and making the shopping list reflect that, standardizing
                communication format between microservices, and in general reducing technical debt by
                refactoring some of the more jumbled files. 
              </p>
          </div>

          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
              <h5 class="text-uppercase">Contact Me</h5>
              <ul class="list-unstyled">
                  <li>
                      <strong>Email:</strong> kuenzitravis@gmail.com
                  </li>
                  <li>
                      <strong>GitHub:</strong> <a href="https://github.com/travis-kuenzi" target="_blank">github.com/yourusername</a>
                  </li>
                  <li>
                      <strong>LinkedIn:</strong> <a href="https://linkedin.com/in/travis-kuenzi" target="_blank">linkedin.com/in/yourusername</a>
                  </li>
              </ul>
          </div>
      </div>
  </div>

  <div class="text-center p-3" style="background-color: #333;">
      <small>&copy; 2024 Travis Kuenzi</small>
  </div>
</footer>
