<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <style>
        .navbar-custom {
            background-color: #07396f; /* Blue background */
        }

        .navbar-custom .nav-link {
            color: white !important; /* White text */
            font-weight: bold;       /* Bold text */
        }

        .navbar-custom .nav-link:hover {
            color: #f0f0f0 !important; /* Lighter color on hover */
        }



  </style>
</head>


<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container">
        <a class="navbar-brand text-white fw-bold" href="#">MyMealsApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/recipes">Home</a>
                </li>
                <li class="nav-item">
                    <!--Need to adjust so that weekOf and userID are dynamically implemented-->
                    <a class="nav-link" href="/mealPlans/<%= userID %>/<%= dateToday %>">Meal Plan <%= dateToday %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/userInformation">User Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logOutVerify">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <hr>
  <main>